html, body {
    margin: 0 !important;
    padding: 0 !important;
}

canvas {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}